{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <div class="form-group">
    {{ form.file.label(class="form-label") }}
    {{ form.file(class="form-control") }}
    {% if form.file.errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.file.errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
</form>
{% endblock %}
